.wc-block-order-confirmation-totals-wrapper {
	.wc-block-order-confirmation-totals {
		@extend .wp-block-table;

		table {
			td {
				text-align: start;
			}

			.wc-block-order-confirmation-totals__total {
				text-align: end;
			}
		}
	}

	.wc-block-order-confirmation-order-note {
		border: 1px solid var(--wp--preset--color--contrast-3);
		border-radius: var(--wp--custom--border-radius-form);
		color: var(--wp--preset--color--contrast-2);
	}
}
