.wp-block-query:not(.wc-related-products) {
  container-type: inline-size;
  container-name: core-block-query;

  .wp-block-post-template {
    &.columns-3 {
      @include container-breakpoint-up(core-block-query, md) {
        --columns-number: 2;
      }

      @include container-breakpoint-up(core-block-query, xl) {
        --columns-number: 3;
      }
    }

    &.columns-4 {
      @include container-breakpoint-up(core-block-query, md) {
        --columns-number: 2;
      }

      @include container-breakpoint-up(core-block-query, lg) {
        --columns-number: 3;
      }

      @include container-breakpoint-up(core-block-query, xl) {
        --columns-number: 4;
      }
    }

    &.columns-6 {
      @include container-breakpoint-up(core-block-query, md) {
        --columns-number: 2;
      }

      @include container-breakpoint-up(core-block-query, xl) {
        --columns-number: 6;
      }
    }
  }

  &.wc-product-grid {
    .wp-block-post-template {
      grid-template-columns: repeat(var(--columns-number, 1), 1fr);
      column-gap: var(--wp--preset--spacing--30);
      row-gap: var(--wp--preset--spacing--80);

      .wp-block-post {
        .wc-block-components-product-image {
          display: grid;
          margin-bottom: 12px;
          border-radius: var(--wp--custom--border-radius-picture);
          aspect-ratio: 1 / 1;

          a {
            display: block;

            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .wc-block-components-product-image {
          .wc-block-components-product-sale-badge {
            border: none;
            background-color: var(--wp--preset--color--accent);
            color: var(--wp--preset--color--white);
            font-size: var(--wp--preset--font-size--14);
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        .wp-block-post-title {
          margin-bottom: 12px;
          font-size: var(--wp--preset--font-size--16);
        }

        .wp-block-woocommerce-product-price {
          margin-bottom: 12px;
          font-size: var(--wp--preset--font-size--20);
          font-weight: bold;
        }

        .wc-block-components-product-button {
          &__button {
            display: inline-block;
          }
        }
      }
    }
  }

  &:not(.wc-product-grid) {
    &.is-layout-flow {
      .wp-block-post-template {
        .wp-block-post {
          & > .wp-block-group {
            .wp-block-post-featured-image,
            .wc-block-components-product-image {
              aspect-ratio: 627 / 261;
              margin: 0;

              @include container-breakpoint-up(core-block-query, md) {
                flex: 0 0 45%;
                max-width: 45%;
              }

              a,
              img,
              & {
                height: 100% !important;
              }

              img {
                object-fit: cover;
              }
            }

            .wc-block-components-product-image {
              .wc-block-components-product-sale-badge {
                border: none;
                background-color: var(--wp--preset--color--accent);
                color: var(--wp--preset--color--white);
                font-size: var(--wp--preset--font-size--14);
                font-weight: bold;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    .wp-block-post-template {
      display: grid;
      row-gap: var(--wp--preset--spacing--40);

      .wp-block-post {
        width: 100% !important;
        overflow: hidden;
        border-radius: var(--wp--custom--border-radius-picture);
        background-color: var(--wp--preset--color--white);
        box-shadow: var(--wp--preset--shadow--card);

        .wp-block-post-terms {
          display: flex;
          flex-wrap: wrap;
          gap: var(--wp--preset--spacing--10);

          &__separator {
            display: none;
          }

          & > a {
            @extend .cta;

            padding: calc(var(--wp--preset--spacing--10) / 2) calc(var(--wp--preset--spacing--10) * 2) !important;
          }

          &.taxonomy-post_tag {
            & > a {
              @extend .cta-outline;
            }
          }
        }
      }
    }
  }

  &.is-layout-flow {
    .wp-block-post-template {
      .wp-block-post {
        & > .wp-block-group {
          display: grid;

          @include container-breakpoint-up(core-block-query, md) {
            display: flex;
          }

          gap: var(--wp--preset--spacing--80);

          & > .wp-block-group {
            @include container-breakpoint-up(core-block-query, md) {
              flex-grow: 1;
              order: -1;
            }
          }
        }
      }
    }
  }

  &:not(.is-layout-flow) {
    .wp-block-post-template {
      grid-template-columns: repeat(var(--columns-number, 1), 1fr);
      column-gap: var(--wp--preset--spacing--80);
    }
  }
}
