.wp-block-query-pagination {
	a {
		&:has(.is-arrow-arrow) {
			&:hover {
				.is-arrow-arrow {
					transform: translateX(var(--translate-x));
				}
			}
		}
	}

	.wp-block-query-pagination-previous,
	.wp-block-query-pagination-next {
		margin-right: 0;
		margin-left: 0;
	}

	.wp-block-query-pagination-next {
		.is-arrow-arrow {
			--translate-x: 5px;
			--icon: '#{$icon-simppple-arrow-right}';

			margin-inline-start: 0.5rem;

			html[dir='rtl'] & {
				--translate-x: -5px;
				--icon: '#{$icon-simppple-arrow-left}';
			}
		}
	}

	.wp-block-query-pagination-previous {
		.is-arrow-arrow {
			--translate-x: -5px;
			--icon: '#{$icon-simppple-arrow-left}';

			margin-inline-end: 0.5rem;

			html[dir='rtl'] & {
				--icon: '#{$icon-simppple-arrow-right}';
				--translate-x: 5px;
			}
		}
	}

	.is-arrow-arrow {
		transition: var(--nomotion, transform 0.2s ease-in-out);
		font-size: 0;

		&::after {
			content: var(--icon);
			font-family: $icomoon-font-family;
			font-size: var(--wp--preset--font-size--12);
		}
	}

	.wp-block-query-pagination-numbers {
		display: flex;
		gap: var(--wp--preset--spacing--10);

		.page-numbers {
			line-height: initial;

			&.current {
				color: var(--wp--preset--color--accent);
				font-weight: bold;
			}
		}
	}
}
