// -----------------------------------------------------------------------------
// This file contains all application-wide Sass root properties.
// -----------------------------------------------------------------------------

:root {
	color-scheme: light; // not sure if it's good but prevent devices to mess up colors

	@each $state-color, $value in $state-colors {
		--color-#{$state-color}: #{$value};
		--color-rgb-#{$state-color}: #{hex-to-rgb($value)};
	}

	@each $color, $value in $colors {
		--color-#{$color}: #{$value};
		--color-rgb-#{$color}: #{hex-to-rgb($value)};
	}

	@each $font-title, $font-info in $fonts {
		$font-name: map-get($font-info, 'name');
		$font-serif: map-get($font-info, 'serif');
		@if $font-serif {
			--font-#{$font-title}: #{$font-name}, #{$font-serif};
		} @else {
			--font-#{$font-title}: #{$font-name};
		}
	}

	@each $size, $value in $font-sizes {
		--font-level-#{$size}: #{$value};
	}

	@each $bp, $value in $grid-breakpoints {
		--breakpoint-#{$bp}: #{$value};
	}

	@each $spacing, $value in $spacings {
		--spacing-#{$spacing}: #{$value};
	}

	@each $size, $value in $sizes {
		@if (type-of($value) == 'map') {
			$breakpoints: $value;

			@each $breakpoint, $value in $breakpoints {
				@include media-breakpoint-up($breakpoint) {
					--#{$size}: #{$value};
				}
			}
		} @else {
			--#{$size}: #{$value};
		}
	}

	@media (prefers-reduced-motion: reduce) {
		--nomotion: none;
	}

	--screen-size: calc(100vw - var(--scrollbarsize));
}
