// -----------------------------------------------------------------------------
// Basic typography style for copy text.
// -----------------------------------------------------------------------------

body:not(.wp-admin),
.editor-styles-wrapper {
	font-size: var(--wp--preset--font-size--16);
	font-weight: normal;
	line-height: 1.2;
}
