.wp-block-media-text {
  &:not(.is-image-fill) {
    .wp-block-media-text__media {
      padding: var(--wp--preset--spacing--40);

      img {
        overflow: hidden;
        border-radius: var(--wp--custom--border-radius-picture);
      }
    }
  }

  &.is-image-fill {
    .wp-block-media-text__media {
      overflow: hidden;
      border-radius: var(--wp--custom--border-radius-picture);
    }
  }

  &__media {
    img {
      box-shadow: var(--wp--preset--shadow--card);
    }
  }

  &__content {
    padding: var(--wp--preset--spacing--40) !important;
  }
}
