ul.wp-block-list {
  list-style: none;

  li {
    position: relative;

    &::before {
      content: $icon-simple-arrow-right;
      position: absolute;
      top: 5px;
      right: calc(100% + 7px);
      color: var(--wp--preset--color--accent);
      font-family: $icomoon-font-family;
      font-size: 15px;
    }
  }
}

ol.wp-block-list {
  li {
    &::marker {
      color: var(--wp--preset--color--accent);
      font-weight: bold;
    }
  }
}
