body.single-product {
	& > .wp-site-blocks {
		& > .woocommerce.product {
			& > main.single-product {
				container-type: inline-size;
				container-name: page-single-product;

				.single-product__product-wrapper {
					display: grid;

					@include container-breakpoint-up(page-single-product, lg) {
						grid-template-columns: repeat(2, 1fr);
					}

					justify-content: flex-start;

					.product-wrapper {
						&__infos-wrapper {
							@include container-breakpoint-up(page-single-product, xl) {
								max-width: calc(var(--wp--style--global--content-size) / 2);
							}

							.wp-block-woocommerce-product-price {
								--gap: var(--wp--preset--spacing--30);
								--font-size: var(--wp--preset--font-size--30);

								& > .wc-block-components-product-price {
									& > del {
										font-size: var(--wp--preset--font-size--20);
										line-height: 1.5;
									}
								}
							}

							.wp-block-add-to-cart-form {
								form.cart {
									padding-right: var(--wp--preset--spacing--40);
									container-type: inline-size;
									container-name: variations-form;

									table.variations {
										table-layout: fixed;
										border-collapse: collapse;

										tbody {
											tr {
												margin-bottom: var(--wp--preset--spacing--20);

												th,
												td {
													vertical-align: initial;
												}

												.label {
													width: 18cqw;
													text-align: left;

													label {
														font-size: var(--wp--preset--font-size--16);
														font-weight: normal;
													}
												}

												.value {
													select {
														height: initial;
														padding: 8px 16px;
													}
												}
											}
										}
									}

									.single_variation_wrap {
										.single_variation {
											margin-bottom: var(--wp--preset--spacing--30);
										}

										.woocommerce-variation-price {
											.price {
												font-size: var(--wp--preset--font-size--20);
												font-weight: 600;
											}
										}

										.woocommerce-variation-add-to-cart {
											display: flex;
											flex-wrap: wrap;
											gap: var(--wp--preset--spacing--30);

											.quantity {
												.qty {
													margin: 0;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
