.pattern---header-top-section {
  $menu-responsive-breakpoint: lg;
  $menu-padding-bottom: var(--wp--preset--spacing--40);

  position: relative;
  justify-content: center;

  @include media-breakpoint-up($menu-responsive-breakpoint) {
    justify-content: space-between;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    width: var(--screen-size);
    transform: translateX(-50%);
    background-color: inherit;
  }

  & > .wp-block-paragraph {
    display: none;

    @include media-breakpoint-up($menu-responsive-breakpoint) {
      display: block;
    }
  }

  & > .wp-block-group {
    gap: var(--wp--preset--spacing--40);

    & > .wp-block-navigation {
      &.pattern---search-modal {
        .wp-block-navigation__responsive-container-open {
          font-size: 18px;

          &:hover {
            opacity: 0.8;
            text-decoration: none;
          }
        }
      }

      .wp-block-navigation__container {
        gap: var(--wp--preset--spacing--40);

        .wp-block-navigation-item {
          &__content {
            transition: opacity 0.2s ease-in-out;

            &:hover {
              opacity: 0.8;
              text-decoration: none;
            }

            &::before {
              font-family: $icomoon-font-family;
              font-size: 18px;
            }

            span {
              display: none;
            }

            &[rel='icon-simple-search'] {
              &::before {
                content: $icon-simple-search;
              }
            }

            &[rel='icon-simple-cart'] {
              &::before {
                content: $icon-simple-cart;
              }
            }

            &[rel='icon-simple-user'] {
              &::before {
                content: $icon-simple-user;
              }
            }

            &[rel='icon-simple-heart'] {
              &::before {
                content: $icon-simple-heart;
              }
            }
          }
        }
      }
    }

    .wp-block-woocommerce-customer-account {
      & > a {
        svg {
          display: none;
        }

        &::before {
          content: $icon-simple-user;
          font-family: $icomoon-font-family;
          font-size: 18px;
        }
      }
    }

    .wc-block-mini-cart {
      &__button {
        padding: 0;

        svg {
          display: none;
        }

        .wc-block-mini-cart__quantity-badge {
          &::before {
            content: $icon-simple-cart;
            font-family: $icomoon-font-family;
            font-size: 18px;
          }
        }
      }
    }
  }
}
