.wp-block-post-navigation-link {
	&.post-navigation-link-next {
		.is-arrow-arrow {
			margin-left: 0.5rem;

			--translate-x: 5px;
			--icon: '#{$icon-simppple-arrow-right-plain}';
		}
	}

	&.post-navigation-link-previous {
		.is-arrow-arrow {
			margin-right: 0.5rem;

			--translate-x: -5px;
			--icon: '#{$icon-simppple-arrow-left-plain}';
		}
	}

	&:has(.is-arrow-arrow) {
		&:hover {
			.is-arrow-arrow {
				transform: translateX(var(--translate-x));
			}
		}
	}

	.is-arrow-arrow {
		transition: var(--nomotion, transform 0.2s ease-in-out);
		font-size: 0;

		&::after {
			content: var(--icon);
			font-family: $icomoon-font-family;
			font-size: var(--wp--preset--font-size--14);
		}
	}
}
