.wc-block-order-confirmation-summary {
  .wc-block-order-confirmation-summary-list {
    flex-direction: column;
    gap: var(--wp--preset--spacing--10);
    padding: 12px 24px;
    border: 1px solid var(--wp--preset--color--contrast-3);
    border-radius: var(--wp--custom--border-radius-form);

    .wc-block-order-confirmation-summary-list-item {
      span {
        display: inline;
      }
    }
  }

  .wc-block-order-confirmation-order-note,
  .wc-block-order-confirmation-shipping-address {
    border: 1px solid var(--wp--preset--color--contrast-3);
    border-radius: var(--wp--custom--border-radius-form);
    color: var(--wp--preset--color--contrast-2);
  }
}
