@import 'variables';

@font-face {
	font-family: '#{$icomoon-font-family}';
	src:
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2z4419') format('truetype'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2z4419') format('woff'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2z4419##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-simppple-'],
[class*=' icon-simppple-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-simppple-filter {
	&:before {
		content: $icon-simppple-filter;
	}
}
.icon-simppple-mail {
	&:before {
		content: $icon-simppple-mail;
	}
}
.icon-simppple-phone {
	&:before {
		content: $icon-simppple-phone;
	}
}
.icon-simppple-check {
	&:before {
		content: $icon-simppple-check;
	}
}
.icon-simppple-eye {
	&:before {
		content: $icon-simppple-eye;
	}
}
.icon-simppple-cross {
	&:before {
		content: $icon-simppple-cross;
	}
}
.icon-simppple-information {
	&:before {
		content: $icon-simppple-information;
	}
}
.icon-simppple-search {
	&:before {
		content: $icon-simppple-search;
	}
}
.icon-simppple-heart {
	&:before {
		content: $icon-simppple-heart;
	}
}
.icon-simppple-cart {
	&:before {
		content: $icon-simppple-cart;
	}
}
.icon-simppple-arrow-left {
	&:before {
		content: $icon-simppple-arrow-left;
	}
}
.icon-simppple-arrow-right-plain {
	&:before {
		content: $icon-simppple-arrow-right-plain;
	}
}
.icon-simppple-arrow-left-plain {
	&:before {
		content: $icon-simppple-arrow-left-plain;
	}
}
.icon-simppple-facebook {
	&:before {
		content: $icon-simppple-facebook;
	}
}
.icon-simppple-instagram {
	&:before {
		content: $icon-simppple-instagram;
	}
}
.icon-simppple-linkedin {
	&:before {
		content: $icon-simppple-linkedin;
	}
}
.icon-simppple-twitter {
	&:before {
		content: $icon-simppple-twitter;
	}
}
.icon-simppple-youtube {
	&:before {
		content: $icon-simppple-youtube;
	}
}
.icon-simppple-arrow-right {
	&:before {
		content: $icon-simppple-arrow-right;
	}
}
.icon-simppple-user {
	&:before {
		content: $icon-simppple-user;
	}
}
.icon-simppple-quote {
	&:before {
		content: $icon-simppple-quote;
	}
}
