@import 'variables';

@font-face {
	font-family: '#{$icomoon-font-family}';
	src:
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2z4419') format('truetype'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2z4419') format('woff'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2z4419##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-sample-'],
[class*=' icon-sample-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sample-filter {
	&:before {
		content: $icon-sample-filter;
	}
}
.icon-sample-mail {
	&:before {
		content: $icon-sample-mail;
	}
}
.icon-sample-phone {
	&:before {
		content: $icon-sample-phone;
	}
}
.icon-sample-check {
	&:before {
		content: $icon-sample-check;
	}
}
.icon-sample-eye {
	&:before {
		content: $icon-sample-eye;
	}
}
.icon-sample-cross {
	&:before {
		content: $icon-sample-cross;
	}
}
.icon-sample-information {
	&:before {
		content: $icon-sample-information;
	}
}
.icon-sample-search {
	&:before {
		content: $icon-sample-search;
	}
}
.icon-sample-heart {
	&:before {
		content: $icon-sample-heart;
	}
}
.icon-sample-cart {
	&:before {
		content: $icon-sample-cart;
	}
}
.icon-sample-arrow-left {
	&:before {
		content: $icon-sample-arrow-left;
	}
}
.icon-sample-arrow-right-plain {
	&:before {
		content: $icon-sample-arrow-right-plain;
	}
}
.icon-sample-arrow-left-plain {
	&:before {
		content: $icon-sample-arrow-left-plain;
	}
}
.icon-sample-facebook {
	&:before {
		content: $icon-sample-facebook;
	}
}
.icon-sample-instagram {
	&:before {
		content: $icon-sample-instagram;
	}
}
.icon-sample-linkedin {
	&:before {
		content: $icon-sample-linkedin;
	}
}
.icon-sample-twitter {
	&:before {
		content: $icon-sample-twitter;
	}
}
.icon-sample-youtube {
	&:before {
		content: $icon-sample-youtube;
	}
}
.icon-sample-arrow-right {
	&:before {
		content: $icon-sample-arrow-right;
	}
}
.icon-sample-user {
	&:before {
		content: $icon-sample-user;
	}
}
.icon-sample-quote {
	&:before {
		content: $icon-sample-quote;
	}
}
