$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-sample-filter: '\e914';
$icon-sample-mail: '\e90a';
$icon-sample-phone: '\e909';
$icon-sample-check: '\e913';
$icon-sample-eye: '\e912';
$icon-sample-cross: '\e911';
$icon-sample-information: '\e910';
$icon-sample-search: '\e90d';
$icon-sample-heart: '\e90e';
$icon-sample-cart: '\e90f';
$icon-sample-arrow-left: '\e90c';
$icon-sample-arrow-right-plain: '\e90b';
$icon-sample-arrow-left-plain: '\e900';
$icon-sample-facebook: '\e904';
$icon-sample-instagram: '\e905';
$icon-sample-linkedin: '\e906';
$icon-sample-twitter: '\e907';
$icon-sample-youtube: '\e908';
$icon-sample-arrow-right: '\e903';
$icon-sample-user: '\e902';
$icon-sample-quote: '\e901';
