$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-simple-filter: "\e914";
$icon-simple-mail: "\e90a";
$icon-simple-phone: "\e909";
$icon-simple-check: "\e913";
$icon-simple-eye: "\e912";
$icon-simple-cross: "\e911";
$icon-simple-information: "\e910";
$icon-simple-search: "\e90d";
$icon-simple-heart: "\e90e";
$icon-simple-cart: "\e90f";
$icon-simple-arrow-left: "\e90c";
$icon-simple-arrow-right-plain: "\e90b";
$icon-simple-facebook: "\e904";
$icon-simple-instagram: "\e905";
$icon-simple-linkedin: "\e906";
$icon-simple-twitter: "\e907";
$icon-simple-youtube: "\e908";
$icon-simple-arrow-right: "\e903";
$icon-simple-user: "\e902";
$icon-simple-quote: "\e901";

