.wp-block-file {
	@keyframes fall-down {
		from {
			transform: translateY(-15px) rotate(90deg);
			opacity: 0;
		}

		to {
			transform: translateY(0) rotate(90deg);
			opacity: 1;
		}
	}

	.wp-block-file__button {
		margin-left: initial;
		margin-inline-start: 0.75em;
	}

	a {
		&:not(.wp-block-file__button):hover + .wp-block-file__button,
		&.wp-block-file__button:hover {
			padding-inline-start: calc(30px + 12px);

			&::before,
			&::after {
				transition-duration: 0.3s;
				opacity: 1;
			}

			&::before {
				animation: fall-down 1s ease-in-out 0s infinite;
			}
		}

		&.wp-block-file__button {
			position: relative;
			transition: var(--nomotion, padding-inline-start 0.2s ease-in-out);
			// background-color: var(--wp--preset--color--accent-2);
			// color: var(--wp--preset--color--white);

			&::before,
			&::after {
				position: absolute;
				inset-inline-start: 18px;
				transition: var(--nomotion, opacity 0.2s ease-in-out);
				opacity: 0;
			}

			&::before {
				content: var(--icon-arrow-right-plain);
				transform: rotate(90deg);
				font-family: var(--font-icons);
			}

			&::after {
				content: '';
				bottom: 10px;
				width: 16px;
				height: 3px;
				border-radius: 200px;
				background-color: currentColor;
			}
		}
	}
}
