.wp-block-woocommerce-cart {
	.wc-block-cart {
		display: grid;
		row-gap: var(--wp--preset--spacing--80);

		@include container-breakpoint-up(page-cart, lg) {
			grid-template-columns: 65% 1fr;
			column-gap: var(--wp--preset--spacing--30);
		}

		.wc-block-cart__main {
			width: initial;
			padding: initial;

			table.wc-block-cart-items {
				border-collapse: collapse;

				tr {
					display: revert;

					th {
						padding-top: var(--wp--preset--spacing--10);
						padding-bottom: var(--wp--preset--spacing--10);
					}

					td {
						padding-top: calc(var(--wp--preset--spacing--10) * 2);
						padding-bottom: calc(var(--wp--preset--spacing--10) * 2);
					}

					th,
					td {
						&:first-child {
							@include container-breakpoint-down(page-cart, sm) {
								display: none;
							}

							@include container-breakpoint-up(page-cart, sm) {
								width: 25%;
								text-align: left;
							}
						}

						&:last-child {
							padding-right: var(--wp--preset--spacing--10);
						}

						&:not(:last-child) {
							padding-right: calc(var(--wp--preset--spacing--10) * 1.2);
							padding-left: calc(var(--wp--preset--spacing--10) * 1.2);
						}
					}
				}

				.wc-block-cart-items__header {
					& > th {
						background-color: hsla(var(--wp--custom--contrast-hsl), 0.1) !important;
						font-size: var(--wp--preset--font-size--20);
						font-weight: 600;
						text-transform: initial;

						&:first-child {
							@include container-breakpoint-up(page-cart, sm) {
								border-top-left-radius: 5px;
								border-bottom-left-radius: 5px;
							}
						}

						&:nth-child(2) {
							@include container-breakpoint-down(page-cart, sm) {
								border-top-left-radius: 5px;
								border-bottom-left-radius: 5px;
							}
						}

						&:last-child {
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
						}
					}

					&-product {
						visibility: visible;
						text-align: left;
					}
				}

				.wc-block-cart-items__row {
					position: relative;

					& > td {
						position: static;

						&::after {
							top: initial;
							border: none;
							border-bottom: 1px solid var(--wp--preset--color--contrast-3);
							opacity: 1;
						}

						&.wc-block-cart-item__image {
							text-align: center;

							a {
								display: block;
								margin-bottom: calc(var(--wp--preset--spacing--10) * 2);
								aspect-ratio: 1 / 1;
								overflow: hidden;
								border-radius: var(--wp--custom--border-radius-picture);

								img {
									height: 100%;
									object-fit: cover;
								}
							}
						}

						&.wc-block-cart-item__product {
							.wc-block-cart-item__wrap {
								display: grid;
								row-gap: var(--wp--preset--spacing--10);

								.wc-block-components-product-name {
									font-weight: 600;
								}

								.wc-block-components-product-metadata {
									&__description {
										p {
											margin: 0;
										}
									}

									.wc-block-components-product-details {
										li {
											.wc-block-components-product-details__value {
												color: var(--wp--preset--color--contrast-2);
											}
										}
									}
								}

								.wc-block-components-product-badge {
									justify-self: start;
								}

								.wc-block-cart-item__prices {
									order: 19;
								}

								.wc-block-cart-item__quantity {
									grid-row: initial;
									order: 20;
									padding: 0;

									.wc-block-components-quantity-selector {
										width: max-content;
										margin: 0;

										--radius: 5px;

										&::after {
											border-radius: var(--radius);
											border-color: var(--wp--preset--color--contrast-3);
											opacity: 1;
										}

										&__input {
											max-width: 40px;
											border-right: 1px solid var(--wp--preset--color--contrast-3);
											border-left: 1px solid var(--wp--preset--color--contrast-3);
											font-size: var(--wp--preset--font-size--16);
											font-weight: 600;
										}

										&__button {
											color: inherit;
											font-size: var(--wp--preset--font-size--26);
											aspect-ratio: 1;

											&:focus {
												box-shadow: none;
											}

											&--minus {
												border-radius: var(--radius) 0 0 var(--radius);
											}

											&--plus {
												border-radius: 0 var(--radius) var(--radius) 0;
											}
										}
									}

									.wc-block-cart-item__remove-link {
										@include container-breakpoint-up(page-cart, sm) {
											position: absolute;
											bottom: calc(var(--wp--preset--spacing--10) * 2);
											left: var(--wp--preset--spacing--10);
										}

										cursor: pointer;

										&:hover {
											color: var(--wp--preset--color--error);
										}
									}
								}
							}
						}

						&.wc-block-cart-item__total {
							.wc-block-cart-item__total-price-and-sale-badge-wrapper {
								.wc-block-components-product-price {
									font-weight: bold;
								}
							}
						}
					}
				}
			}

			.wp-block-woocommerce-cart-cross-sells-block {
				& > div {
					display: grid;
					grid-template-columns: repeat(var(--column-number, 1), 1fr);
					gap: var(--wp--preset--spacing--10);

					@include container-breakpoint-up(page-cart, sm) {
						gap: var(--wp--preset--spacing--30);
					}

					&:has(.cross-sells-product:nth-child(2)) {
						--column-number: 2;
					}

					&:has(.cross-sells-product:nth-child(3)) {
						--column-number: 3;
					}

					&:has(.cross-sells-product:nth-child(4)) {
						--column-number: 4;
					}
				}

				.cross-sells-product {
					position: relative;
					width: 100%;
					padding: 0;
					text-align: left;

					.wc-block-components-product-image {
						display: grid;
						aspect-ratio: 1 / 1;
						border-radius: var(--wp--custom--border-radius-picture);

						img {
							height: 100%;
							object-fit: cover;
						}
					}

					.wc-block-components-product-sale-badge {
						position: absolute;
						top: 4px;
						left: 4px;
						padding: 0.25em 0.75em;
						border: none;
						border-radius: 3px;
						background-color: var(--wp--preset--color--accent);
						color: var(--wp--preset--color--white);
						font-size: var(--wp--preset--font-size--14);
						font-weight: bold;
						line-height: initial;
						text-transform: uppercase;
					}

					.wc-block-components-product-title {
						a {
							font-size: var(--wp--preset--font-size--16);
							font-weight: bold;
							text-decoration: none;
						}
					}

					.wc-block-components-product-price {
						@extend .wc-block-components-product-price;

						--font-size: var(--wp--preset--font-size--20);
					}

					.wc-block-components-product-button {
						display: grid;
						justify-content: start;
					}
				}
			}
		}

		.wc-block-cart__sidebar {
			width: initial;
			padding: 0;

			.wp-block-woocommerce-cart-order-summary-block {
				.wc-block-cart__totals-title {
					display: block;
					padding: var(--wp--preset--spacing--10);
					border-radius: 5px;
					background-color: hsla(var(--wp--custom--contrast-hsl), 0.1);
					font-size: var(--wp--preset--font-size--20);
					font-weight: 600;
					text-align: center;
					text-transform: lowercase;

					&::first-letter {
						text-transform: uppercase;
					}
				}

				.wc-block-components-text-input {
					input {
						margin-top: 25px;
						padding: 0.5em;
					}

					label {
						left: 0;
						margin-bottom: 0.5em;
						overflow: initial;
						transform: initial;
					}
				}

				.wc-block-components-totals-wrapper {
					&:not(:empty) {
						padding: calc(var(--wp--preset--spacing--10) * 2) var(--wp--preset--spacing--10);
					}

					&:not(:empty):not(:last-child) {
						border-bottom: 1px solid var(--wp--preset--color--contrast-3);
					}

					&::after {
						content: none;
					}

					.wc-block-components-totals-coupon,
					.wc-block-components-totals-item {
						padding: 0;
					}

					.wc-block-components-totals-shipping {
						.wc-block-components-shipping-calculator {
							padding: var(--wp--preset--spacing--10);

							.wc-block-components-shipping-calculator-address {
								.wc-block-components-country-input {
									.components-base-control {
										.components-base-control__field {
											.components-base-control__label {
												left: 0;
												overflow: initial;
												transform: initial;
											}

											.components-combobox-control__suggestions-container {
												position: relative;

												input {
													margin-top: var(--wp--preset--spacing--30);
													padding: 0.5em;
													border: 1px solid var(--wp--preset--color--contrast-3);
												}

												.components-form-token-field__suggestions-list {
													top: calc(100% + 1px);
													width: 100%;
													margin: 0;
												}
											}
										}
									}
								}
							}
						}

						.wc-block-components-shipping-rates-control__package {
							padding-right: var(--wp--preset--spacing--10);
							padding-left: var(--wp--preset--spacing--10);
						}
					}

					.wc-block-components-totals-coupon {
						&__content {
							.wc-block-components-totals-coupon__form {
								align-items: flex-end;

								.wc-block-components-totals-coupon__input {
									input {
										border-top-right-radius: 0;
										border-bottom-right-radius: 0;

										&:focus {
											outline: none;
											box-shadow: none;
										}
									}
								}

								.wc-block-components-totals-coupon__button {
									max-height: 39px;
									margin: 0;
									border-top-left-radius: 0;
									border-bottom-left-radius: 0;
								}
							}
						}
					}

					.wc-block-components-totals-item {
						.wc-block-components-totals-item__label,
						.wc-block-components-totals-item__value {
							font-weight: 600;
						}

						&.wc-block-components-totals-footer-item {
							.wc-block-components-totals-item__label,
							.wc-block-components-totals-item__value {
								font-size: var(--wp--preset--font-size--20);
								font-weight: bold;
							}
						}

						&__description {
							.wc-block-components-totals-shipping__change-address__link {
								display: block;
								position: relative;
								width: fit-content;
								margin-top: var(--wp--preset--spacing--10);
								padding-right: 20px;

								&::after {
									content: $icon-simppple-arrow-right;
									position: absolute;
									top: 2px;
									right: 0;
									transform: rotate(90deg);
									transition: var(--nomotion, transform 0.2s ease-in-out);
									font-family: $icomoon-font-family;
								}

								&[aria-expanded='true'] {
									&::after {
										transform: rotate(-90deg);
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.wc-block-components-notices__snackbar {
		.wc-block-components-notice-banner {
			overflow: hidden;
			border: none;

			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				background-color: var(--wp--preset--color--white);
				inset: 0;
			}

			&.is-info {
				background-color: hsla(var(--wp--custom--info-hsl), 0.1);

				& > svg {
					background-color: var(--wp--preset--color--info);
				}
			}

			&.is-warning {
				background-color: hsla(var(--wp--custom--warning-hsl), 0.1);

				& > svg {
					background-color: var(--wp--preset--color--warning);
				}
			}

			&.is-error {
				background-color: hsla(var(--wp--custom--error-hsl), 0.1);

				& > svg {
					background-color: var(--wp--preset--color--error);
				}
			}

			&.is-success {
				background-color: hsla(var(--wp--custom--success-hsl), 0.1);

				& > svg {
					background-color: var(--wp--preset--color--success);
				}
			}
		}
	}
}
