.pattern---header-main-section {
  $menu-responsive-breakpoint: lg;
  $menu-padding-bottom: var(--wp--preset--spacing--40);

  --logo-max-height: 30px;

  @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
    --logo-max-height: 42px;
  }

  .wp-block-site-logo {
    .custom-logo-link {
      height: var(--logo-max-height);
      aspect-ratio: 250 / 47;
    }
  }

  .wp-block-navigation__responsive-container-open {
    @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
      display: block !important;
      border-radius: initial;
      background-color: initial;
      color: var(--wp--preset--color--contrast);
    }

    &:hover,
    &:focus {
      @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
        background: initial;
      }
    }
  }

  // full menu
  .wp-block-navigation__responsive-container:not(.is-menu-open.has-modal-open) {
    @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
      display: none !important;
    }
  }

  nav {
    .wp-block-navigation__responsive-container {
      .wp-block-navigation__responsive-close {
        .wp-block-navigation__responsive-dialog {
          .wp-block-navigation__responsive-container-close {
            @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
              border-radius: initial;
              background-color: initial;
              color: var(--wp--preset--color--contrast);
            }

            &:hover,
            &:focus {
              @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
                background: initial;
              }
            }
          }
        }
      }

      &.is-menu-open {
        .wp-block-navigation__responsive-container-content {
          padding-top: var(--wp--preset--spacing--40);

          & > ul {
            & > li {
              padding-right: var(--wp--preset--spacing--40);
              padding-left: var(--wp--preset--spacing--40);

              &.wp-block-navigation-item {
                .wp-block-site-logo {
                  position: absolute;
                  top: -20px;
                  left: 0;
                }
              }

              &.has-child {
                .wp-block-navigation__submenu-container {
                  padding: calc(var(--wp--preset--spacing--10) * 2);
                }
              }
            }
          }
        }
      }

      .wp-block-navigation__responsive-container-content {
        & > ul {
          @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
            gap: var(--wp--preset--spacing--80);
          }

          & > li {
            min-height: var(--logo-max-height);

            &.wp-block-navigation-item {
              .wp-block-site-logo {
                position: absolute;
                top: -60px;
                left: 0;

                @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
                  display: none;
                }
              }
            }
          }
        }

        ul {
          li {
            font-weight: normal;

            &.current-menu-item,
            &.current-menu-ancestor {
              font-weight: 600;
            }

            &.has-child {
              @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
                position: relative;
                padding-right: var(--wp--preset--spacing--30);
              }

              .wp-block-navigation-submenu__toggle {
                @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
                  position: absolute;
                  top: 50%;
                  right: 0;
                  width: 15px;
                  height: 15px;
                  margin: 0;
                  transform: translateY(-50%);
                }
              }

              .wp-block-navigation__submenu-container {
                @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
                  top: calc(100% + $menu-padding-bottom);
                  left: 50%;
                  width: max-content !important;
                  padding: var(--wp--preset--spacing--40);
                  transform: translateX(-50%);
                  border: none;
                  border-bottom-right-radius: 15px;
                  border-bottom-left-radius: 15px;
                  box-shadow: var(--wp--preset--shadow--header);
                }

                &::before,
                &::after {
                  @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
                    content: '';
                    position: absolute;
                  }
                }

                &::before {
                  @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
                    top: calc($menu-padding-bottom * -1);
                    right: 0;
                    left: 0;
                    height: $menu-padding-bottom;
                  }
                }

                &::after {
                  @include media-breakpoint-up(#{$menu-responsive-breakpoint}) {
                    top: 0;
                    left: 50%;
                    width: 45px;
                    height: 4px;
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 5px;
                    background-color: var(--wp--preset--color--color-1);
                  }
                }

                li {
                  & + li {
                    margin-top: calc(var(--wp--preset--spacing--10) * 2);
                  }

                  a {
                    padding: 0;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
