body.single {
  main {
    & > .wp-block-post-featured-image {
      aspect-ratio: 16 / 9;
      overflow: hidden;

      img {
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }

      @include media-breakpoint-up(lg) {
        aspect-ratio: 1920 / 555;
      }
    }
  }
}
