.wp-block-accordion {
  --cross-size: 20px;

  .wp-block-accordion-item {
    .wp-block-accordion-heading {
      .wp-block-accordion-heading__toggle {
        display: flex;
        position: relative;
        width: 100%;
        padding-block: 10px;
        padding-inline-end: 30px;
        border: none;
        background: none;
        color: inherit;
        font-family: inherit;
        font-size: var(--wp--preset--font-size--18);
        text-align: start;
        cursor: pointer;
        user-select: none;

        &:focus {
          outline: solid 3px var(--highlight);
        }

        &::selection {
          background-color: var(--highlight);
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          inset-inline-end: 0;
          width: var(--cross-size);
          height: calc(var(--cross-size) / 4);
          border-radius: 5px;
          background-color: var(--wp--preset--color--accent-2);
        }

        &::before {
          transform: translateY(-50%) rotate(180deg);
          transition: var(--nomotion, transform 0.2s ease-in-out);
        }

        &::after {
          transform: translateY(-50%) rotate(90deg);
          transition: var(--nomotion, transform 0.3s ease-in-out);
        }

        .wp-block-accordion-heading__toggle-icon {
          display: none;
        }
      }
    }

    &.is-open {
      .wp-block-accordion-heading {
        .wp-block-accordion-heading__toggle {
          &::after,
          &::before {
            transform: translateY(-50%) rotate(0deg);
          }
        }
      }
    }
  }
}
