.gform_wrapper {
  --gform-theme-control-button-border-radius: var(--wp--custom--border-radius-button);
  // --gform-theme-control-button-color-primary: var(--wp--preset--color--white);
  --gform-theme-control-button-font-size: var(--wp--preset--font-size--16);
  --gform-theme-control-button-font-family: inherit;
  --gform-theme-control-button-line-height: 1.31;
  // --gform-theme-control-button-border-color-primary: var(--wp--preset--color--accent);
  // --gform-theme-control-button-background-color-primary: var(--wp--preset--color--accent);

  // .wp-block-group.has-background.has-color-1-background-color & {
  //   --gform-theme-control-button-border-color-primary: var(--wp--preset--color--accent-2);
  //   --gform-theme-control-button-background-color-primary: var(--wp--preset--color--accent-2);
  // }

  form {
    .gform_body {
      .gform_fields {
        grid-row-gap: var(--wp--preset--spacing--30);

        legend.gform-field-label {
          margin-bottom: var(--wp--preset--spacing--10);
          font-weight: bold;
        }

        .gfield {
          .ginput_container {
            input,
            textarea {
              border-color: var(--gform-theme-local-border-color);
              color: var(--gform-theme-local-color);
            }
          }
        }

        .gform-field-label {
          margin-bottom: var(--wp--preset--spacing--10);
          font-size: var(--wp--preset--font-size--20);
          font-weight: normal;

          .gfield_required {
            color: var(--wp--preset--color--contrast);
            font-size: inherit;
            font-weight: 300;
          }
        }

        .ginput_container_consent {
          .gfield_consent_label {
            font-size: var(--wp--preset--font-size--16);
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }

    .gform_footer {
      margin-top: var(--wp--preset--spacing--30) !important;
      padding: 0 !important;
    }
  }
}
