.social-element,
.social-element > a {
	&::before {
		display: inline-block;
		font-family: $icomoon-font-family;
	}

	&[href*='linkedin'] {
		&::before {
			content: $icon-sample-linkedin;
		}
	}

	&[href*='instagram'] {
		&::before {
			content: $icon-sample-instagram;
		}
	}

	&[href*='youtube'] {
		&::before {
			content: $icon-sample-youtube;
		}
	}

	&[href*='twitter'] {
		&::before {
			content: $icon-sample-twitter;
		}
	}

	&[href*='facebook'] {
		&::before {
			content: $icon-sample-facebook;
		}
	}

	&[href^='tel:'] {
		&::before {
			content: $icon-sample-phone;
		}
	}

	&[href^='mailto:'] {
		&::before {
			content: $icon-sample-mail;
		}
	}
}

.social-element > a {
	display: inline-flex;
	gap: 10px;
}
