[type='checkbox'] {
  display: inline-grid;
  width: var(--checkbox-size, 20px);
  height: var(--checkbox-size, 20px);
  margin: 0;
  border: 2px solid var(--checkbox-border-color, hsla(var(--wp--custom--contrast-hsl), 0.1));
  border-radius: 4px;
  background-color: var(--checkbox-bg-color, var(--wp--preset--color--white));
  color: currentColor;
  cursor: pointer;
  appearance: none;
  place-content: center;

  &::before {
    content: '';
    width: calc(var(--checkbox-size, 20px) / 1.5);
    height: calc(var(--checkbox-size, 20px) / 1.5);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    // transform-origin: bottom left;
    transition: var(--nomotion, transform 0.2s ease-in-out);
    background-color: var(--checkbox-check-color, var(--wp--preset--color--accent));
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:checked {
    &::before {
      transform: scale(1);
    }
  }
}
