[type='text'],
[type='email'],
[type='tel'],
[type='password'] {
  padding: 10px 16px;
  border-radius: 5px;
  border-color: hsla(var(--wp--custom--contrast-hsl), 0.1);
  color: var(--wp--preset--color--contrast-2);
  font-size: var(--wp--preset--font-size--16);
  font-weight: normal;
  line-height: 1.2;
}
