$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-simppple-filter: "\e914";
$icon-simppple-mail: "\e90a";
$icon-simppple-phone: "\e909";
$icon-simppple-check: "\e913";
$icon-simppple-eye: "\e912";
$icon-simppple-cross: "\e911";
$icon-simppple-information: "\e910";
$icon-simppple-search: "\e90d";
$icon-simppple-heart: "\e90e";
$icon-simppple-cart: "\e90f";
$icon-simppple-arrow-left: "\e90c";
$icon-simppple-arrow-right-plain: "\e90b";
$icon-simppple-arrow-left-plain: "\e900";
$icon-simppple-facebook: "\e904";
$icon-simppple-instagram: "\e905";
$icon-simppple-linkedin: "\e906";
$icon-simppple-twitter: "\e907";
$icon-simppple-youtube: "\e908";
$icon-simppple-arrow-right: "\e903";
$icon-simppple-user: "\e902";
$icon-simppple-quote: "\e901";

