select {
	padding: 10px 16px;
	border: solid 1px var(--wp--preset--color--black);
	border-radius: var(--wp--custom--border-radius-form);
	background-color: var(--wp--preset--color--white) !important;
	color: var(--wp--preset--color--black);
	font-size: var(--wp--preset--font-size--16);
	line-height: 1.3;
	cursor: pointer;
}
