.wc-block-components-product-button {
	display: grid;
	justify-content: start;

	button[style*='margin-left:var(--wp--preset--spacing--10)'] {
		& + span {
			.added_to_cart.wc_forward {
				margin-left: var(--wp--preset--spacing--10);
			}
		}
	}

	button[style*='margin-left:var(--wp--preset--spacing--30)'] {
		& + span {
			.added_to_cart.wc_forward {
				margin-left: var(--wp--preset--spacing--30);
			}
		}
	}

	.added_to_cart.wc_forward {
		margin: 0;
		padding: 0;
	}
}
