.cta {
  padding: 10px 30px;
  transition: var(--nomotion, background-color 0.2s ease-in-out);
  border-width: 0;
  border-radius: var(--wp--custom--border-radius-button);
  background-color: var(--wp--preset--color--accent);
  color: var(--wp--preset--color--white);
  font-family: inherit;
  font-size: var(--wp--preset--font-size--16);
  line-height: 1.31;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--wp--preset--color--accent-2);
  }

  &-loading {
    position: relative;
    color: transparent;
    cursor: not-allowed;

    &::after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
      animation: spin-centered 1.2s linear infinite;
      border: 2px solid var(--wp--preset--color--white);
      border-radius: 50%;
      border-color: var(--wp--preset--color--white) transparent var(--wp--preset--color--white) transparent;
    }
  }

  &-outline {
    border: 1px solid var(--wp--preset--color--accent);
    background-color: transparent;
    color: var(--wp--preset--color--accent);
  }
}
