.quantity {
	--button-size: 30px;

	position: relative;
	padding-right: var(--button-size);
	padding-left: var(--button-size);
	overflow: hidden;
	border: 1px solid var(--wp--preset--color--accent);
	border-radius: var(--wp--custom--border-radius-form);

	input[type='number'] {
		max-width: 100%;
		padding: var(--wp--preset--spacing--10);
		border: none;
		border-right: 1px solid currentColor;
		border-left: 1px solid currentColor;
		background-color: var(--wp--preset--color--white);
		color: var(--wp--preset--color--accent);
		font-size: var(--wp--preset--font-size--16);
		text-align: center;
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			margin: 0;
			-webkit-appearance: none;
		}

		&:focus {
			outline: none;
		}
	}

	.quantity {
		&-nav {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		&-button {
			z-index: 1;
			width: var(--button-size);
			height: 100%;
			padding: 0;
			transition: var(--nomotion, opacity 0.2s ease-in-out);
			border: none;
			background-color: var(--wp--preset--color--white);
			color: var(--wp--preset--color--accent);
			line-height: 1;
			cursor: pointer;
			pointer-events: auto;

			&[disabled] {
				opacity: 0.5;
				cursor: not-allowed;
			}

			&:hover:not([disabled]) {
				opacity: 0.8;
			}
		}

		&-up {
			right: 0;
		}

		&-down {
			left: 0;
		}
	}
}
