.pattern---gallery {
  $mobile-breakpoint: sm;
  $tablet-breakpoint: md;

  container-type: inline-size;
  container-name: pattern-gallery;

  .wp-block-gallery {
    display: grid;
    grid-template-columns: repeat(var(--column-number), 1fr);
    align-items: start;
    column-gap: var(--wp--preset--spacing--80);
    row-gap: var(--wp--preset--spacing--32);

    @for $i from 1 through 8 {
      &.columns-#{$i} {
        --column-number: #{$i};
      }
    }

    &.columns-3 {
      grid-template-columns: repeat(2, 1fr);

      @include container-breakpoint-up(pattern-gallery, $mobile-breakpoint) {
        grid-template-columns: repeat(var(--column-number), 1fr);
      }
    }

    &.columns-4,
    &.columns-5,
    &.columns-6,
    &.columns-7,
    &.columns-8 {
      grid-template-columns: repeat(2, 1fr);

      @include container-breakpoint-up(pattern-gallery, $mobile-breakpoint) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include container-breakpoint-up(pattern-gallery, $tablet-breakpoint) {
        grid-template-columns: repeat(var(--column-number), 1fr);
      }
    }

    .wp-block-image {
      width: 100% !important;
    }
  }
}
