.notification {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  padding: 15px;
  border: 1px dotted;
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--accent);

  span {
    padding-top: 30px;
    color: inherit;
    font-size: var(--wp--preset--font-size--26);
    font-weight: 600;
    line-height: 1.3;
    text-align: center;

    &::after {
      content: $icon-simppple-information;
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      background: none;
      font-family: $icomoon-font-family;
      font-size: 20px;
      font-weight: normal;
    }
  }

  &--success {
    border-color: var(--wp--preset--color--success);
    color: var(--wp--preset--color--success);
  }

  &--info {
    border-color: var(--wp--preset--color--info);
    color: var(--wp--preset--color--info);
  }

  &--error {
    border-color: var(--wp--preset--color--error);
    color: var(--wp--preset--color--error);
  }

  &--warning {
    border-color: var(--wp--preset--color--warning);
    color: var(--wp--preset--color--warning);
  }
}
