.social-element,
.social-element > a {
  &::before {
    display: inline-block;
    font-family: $icomoon-font-family;
  }

  &[href*='linkedin'] {
    &::before {
      content: $icon-simppple-linkedin;
    }
  }

  &[href*='instagram'] {
    &::before {
      content: $icon-simppple-instagram;
    }
  }

  &[href*='youtube'] {
    &::before {
      content: $icon-simppple-youtube;
    }
  }

  &[href*='twitter'] {
    &::before {
      content: $icon-simppple-twitter;
    }
  }

  &[href*='facebook'] {
    &::before {
      content: $icon-simppple-facebook;
    }
  }

  &[href^='tel:'] {
    &::before {
      content: $icon-simppple-phone;
    }
  }

  &[href^='mailto:'] {
    &::before {
      content: $icon-simppple-mail;
    }
  }
}

.social-element > a {
  display: inline-flex;
  gap: 10px;
}
