[type='text'],
[type='email'],
[type='tel'],
[type='password'] {
  padding: 10px 16px;
  border: 1px solid var(--wp--preset--color--contrast-3);
  border-radius: var(--wp--custom--border-radius-form);
  color: var(--wp--preset--color--contrast-2);
  font-size: var(--wp--preset--font-size--16);
  font-weight: normal;
  line-height: 1.2;
}
