body.search-results.post-type-archive-product {
	main {
		container-type: inline-size;
		container-name: page-search-products-results;

		.wp-block-woocommerce-product-collection {
			ul.wc-block-product-template {
				&:not([class*='columns-']) {
					.wc-block-product {
						.wp-block-columns {
							.wp-block-column {
								&:has(.wc-block-components-product-image) {
									@include media-breakpoint-down(md) {
										order: -1;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
