<!-- wp:group {"tagName":"header","style":{"position":{"type":"sticky","top":"0px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<header class="wp-block-group has-white-background-color has-background">
	<!-- wp:template-part {"slug":"header","area":"header","theme":"simple","tagName":"div"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:spacer {"height":"80px"} -->
	<div
		style="height:80px"
		aria-hidden="true"
		class="wp-block-spacer"
	></div>
	<!-- /wp:spacer -->

	<!-- wp:pattern {"slug":"simple/hidden-404"} /-->

	<!-- wp:spacer {"height":"120px"} -->
	<div
		style="height:120px"
		aria-hidden="true"
		class="wp-block-spacer"
	></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","theme":"simple","tagName":"footer"} /-->