<!-- wp:group {"tagName":"header","style":{"position":{"type":"sticky","top":"0px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<header class="wp-block-group has-base-background-color has-background">
	<!-- wp:template-part {"slug":"header","area":"header","tagName":"div"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<main
	class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--50)"
>
	<!-- wp:post-featured-image {"height":"","overlayColor":"contrast","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"calc(-1 * var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d50))"}}}} /-->

	<!-- wp:spacer {"height":"40px"} -->
	<div
		style="height:40px"
		aria-hidden="true"
		class="wp-block-spacer"
	></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40","top":"var:preset|spacing|10"}}},"className":"underlined-title"} /-->

		<!-- wp:pattern {"slug":"simppple/post-date-author-terms"} /-->

		<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"},"padding":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
		<div
			class="wp-block-group"
			style="margin-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50)"
		>
			<!-- wp:post-terms {"term":"post_tag","className":"is-style-pill"} /-->

			<!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group">
				<!-- wp:spacer {"height":"var:preset|spacing|40"} -->
				<div
					style="height:var(--wp--preset--spacing--40)"
					aria-hidden="true"
					class="wp-block-spacer"
				></div>
				<!-- /wp:spacer -->

				<!-- wp:pattern {"slug":"simppple/hidden-post-navigation"} /-->

				<!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"backgroundColor":"contrast-3","className":"is-style-wide"} -->
				<hr
					class="wp-block-separator has-text-color has-contrast-3-color has-alpha-channel-opacity has-contrast-3-background-color has-background is-style-wide"
					style="margin-bottom:var(--wp--preset--spacing--40)"
				/>
				<!-- /wp:separator -->

				<!-- wp:pattern {"slug":"simppple/hidden-comments"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->