<!-- wp:group {"tagName":"header","style":{"position":{"type":"sticky","top":"0px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<header class="wp-block-group has-white-background-color has-background">
    <!-- wp:template-part {"slug":"header","area":"header","tagName":"div"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main
    class="wp-block-group"
    style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"
>
    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","right":"0","bottom":"var:preset|spacing|80"}}},"backgroundColor":"color-1","textColor":"white","layout":{"type":"default"}} -->
    <div
        class="wp-block-group alignfull has-white-color has-color-1-background-color has-text-color has-background"
        style="padding-top:var(--wp--preset--spacing--80);padding-right:0;padding-bottom:var(--wp--preset--spacing--80)"
    >
        <!-- wp:group {"layout":{"type":"constrained","contentSize":"1440px"}} -->
        <div class="wp-block-group">
            <!-- wp:woocommerce/breadcrumbs {"textColor":"white"} /-->

            <!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"align":"wide","textColor":"white"} /-->

            <!-- wp:term-description {"textAlign":"center","align":"wide"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0"}}},"textColor":"white","className":"single-product__notifications-wrapper","layout":{"type":"default"}} -->
    <div
        class="wp-block-group alignfull single-product__notifications-wrapper has-white-color has-text-color"
        style="padding-top:0;padding-right:0;padding-bottom:0"
    >
        <!-- wp:group {"layout":{"type":"constrained","contentSize":"1440px"}} -->
        <div class="wp-block-group">
            <!-- wp:woocommerce/store-notices /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"80px"} -->
    <div
        style="height:80px"
        aria-hidden="true"
        class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
        <div
            class="wp-block-group alignwide"
            style="margin-bottom:var(--wp--preset--spacing--40)"
        >
            <!-- wp:woocommerce/product-results-count /-->

            <!-- wp:woocommerce/catalog-sorting /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":true,"__woocommerceAttributes":[],"__woocommerceStockStatus":["instock","outofstock","onbackorder"]},"namespace":"woocommerce/product-query","align":"wide","className":"wc-product-grid"} -->
        <div class="wp-block-query alignwide wc-product-grid">
            <!-- wp:post-template {"className":"products-block-post-template","layout":{"type":"grid","columnCount":4},"__woocommerceNamespace":"woocommerce/product-query/product-template"} -->
            <!-- wp:woocommerce/product-image {"imageSizing":"thumbnail","isDescendentOfQueryLoop":true} /-->

            <!-- wp:post-title {"textAlign":"left","level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|color-4"}}}},"textColor":"color-4","fontSize":"16","__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->

            <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"left"} /-->

            <!-- wp:woocommerce/product-button {"textAlign":"left","isDescendentOfQueryLoop":true,"fontSize":"small"} /-->
            <!-- /wp:post-template -->

            <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
            <!-- wp:query-pagination-previous /-->

            <!-- wp:query-pagination-numbers /-->

            <!-- wp:query-pagination-next /-->
            <!-- /wp:query-pagination -->

            <!-- wp:query-no-results -->
            <!-- wp:paragraph {"placeholder":"Ajouter un texte ou des blocs qui s’afficheront lorsqu’une requête ne renverra aucun résultat."} -->
            <p></p>
            <!-- /wp:paragraph -->
            <!-- /wp:query-no-results -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"120px"} -->
    <div
        style="height:120px"
        aria-hidden="true"
        class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->