.pattern---footer {
	--logo-max-height: 30px;
	$menu-responsive-breakpoint: lg;

	@include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
		padding-top: 32px !important;
		padding-right: 32px !important;
		padding-left: 32px !important;
	}

	.wp-block-site-logo {
		.custom-logo-link {
			height: var(--logo-max-height);
			aspect-ratio: 250 / 47;
		}
	}

	.wp-block-columns {
		.wp-block-column {
			&.footer__menus {
				.wp-block-columns {
					--gap: calc(var(--wp--preset--spacing--10) * 2);

					gap: var(--gap);

					.wp-block-column {
						flex-basis: calc((100% - var(--gap)) / 2) !important;
						max-width: calc((100% - var(--gap)) / 2);
					}
				}
			}
		}
	}
}
