// Block style
.wp-block-highfive-modal {
  position: static;
  z-index: initial;
  width: 100%;
  height: auto;
  opacity: 1;
  pointer-events: initial;
  container-type: inline-size;
  container-name: highfive-modal;

  .highfive-modal__overlay,
  .highfive-modal__content .content__close {
    pointer-events: none;
  }
}

// Inspector control wrapper
.highfive-modal__control-wrapper {
  @import './components/controls';
}
