fieldset {
  padding: var(--wp--preset--spacing--30);
  border: 1px solid var(--wp--preset--color--contrast-3);
  border-radius: var(--wp--custom--border-radius-form);
  color: var(--wp--preset--color--contrast-2);

  legend {
    padding: calc(var(--wp--preset--spacing--10) / 2) var(--wp--preset--spacing--10);
    font-size: var(--wp--preset--font-size--18);
  }
}
