body.post-type-archive-product {
  & > .wp-site-blocks {
    & > main.archive-products {
      .wp-block-columns {
        &:has(.wp-block-column .pattern---wc-filters-popup) {
          $menu-responsive-breakpoint: lg;

          .wp-block-column {
            @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
              flex-basis: 100% !important;
            }
          }

          .pattern---wc-filters-popup {
            // Responsive custom breakpoints
            .wp-block-navigation__responsive-container-open {
              &:hover,
              &:focus {
                @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
                  background: initial;
                }
              }

              @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
                display: flex !important;
                color: var(--wp--preset--color--contrast);
              }
            }

            // full menu
            .wp-block-navigation__responsive-container:not(.is-menu-open.has-modal-open) {
              @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
                display: none !important;
              }
            }
          }

          @include media-breakpoint-down(#{$menu-responsive-breakpoint}) {
            flex-wrap: wrap !important;
          }
        }
      }
    }
  }
}
