.wp-block-post-terms {
	&.is-style-pill {
		a {
			padding: 10px 30px;
			transition: var(--nomotion, background-color 0.2s ease-in-out);
			border-radius: var(--wp--custom--border-radius-form);
			background-color: var(--wp--preset--color--white);
			color: var(--wp--preset--color--black);

			&:hover {
				background-color: var(--wp--preset--color--contrast-3);
			}
		}
	}
}
